* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1320px;
  padding: 0 100px;
  margin: 0 auto;
}

@media (max-width: 411px) {
  .container {
    width: 339px;
    padding: 0 36px 0 36px;
    margin: 0 auto;
  }
}
.header_navbar {
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
}
.header_navbar .menu {
  display: none;
}
.header_navbar label {
  position: absolute;
  top: 19px;
  right: 36px;
  z-index: 1;
  display: none;
}
.header_navbar input {
  display: none;
}
.header_navbar .logo {
  display: flex;
  gap: 16px;
}
.header_navbar ul {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-left: 200px;
}
.header_navbar ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #475e69;
}
.header_navbar ul li a:hover {
  color: #22343d;
}
.header_navbar ul li a:active {
  color: #f03e3d;
}
.header_navbar .btn_sign {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173a56;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 43px;
  margin-left: 96px;
  transition: all 0.3s ease-in-out;
}
.header_navbar .btn_sign:hover {
  background-color: #02897a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.header_navbar .btn_green {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173a56;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  width: 110px;
  height: 43px;
  background-color: #02897a;
  color: white;
  transition: all 0.3s ease-in-out;
}
.header_navbar .btn_green:hover {
  background-color: #ffffff;
  color: #22343d;
  transition: all 0.3s ease-in-out;
}
.header_navbar .krug {
  margin-left: auto;
}

@media (max-width: 411px) {
  .header_navbar {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
  }
  .header_navbar #check:checked ~ .menu {
    display: block;
    width: 100%;
  }
  .header_navbar .menu {
    display: block;
    position: absolute;
    left: 0;
    z-index: 1;
    position: relative;
  }
  .header_navbar .menu .btn_sign {
    position: absolute;
  }
  .header_navbar .menu .btn_green {
    position: absolute;
    left: 30px;
  }
  .header_navbar .menu div {
    display: block;
    position: absolute;
    top: 250px;
  }
  .header_navbar .menu div a {
    display: block;
    position: absolute;
    z-index: 1;
    top: 7px;
    left: 25px;
  }
  .header_navbar .menu label {
    position: absolute;
    top: -20px;
  }
  .header_navbar .menu nav {
    display: block;
  }
  .header_navbar .menu nav ul {
    display: block;
    background-color: #4d8dff;
    position: absolute;
    height: 100vh;
    left: -200px;
    top: -37px;
    right: 0px;
    width: 0;
    transition: all 1s ease-in-out;
    transform-origin: right top;
  }
  .header_navbar .menu nav ul li a:hover {
    color: #22343d;
  }
  .header_navbar .menu nav ul li a:active {
    color: #f03e3d;
  }
  .header_navbar .menu nav ul :nth-child(1) {
    margin: 0 70px;
    margin-top: 100px;
    margin-bottom: 15px;
    color: white;
  }
  .header_navbar .menu nav ul :nth-child(2) {
    margin: 0 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
  }
  .header_navbar .menu nav ul :nth-child(3) {
    margin: 0 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
  }
  .header_navbar .menu nav ul :nth-child(4) {
    margin: 0 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
  }
  .header_navbar label {
    position: absolute;
    top: 19px;
    right: 36px;
    z-index: 1;
    display: block;
  }
  .header_navbar input {
    display: none;
  }
  .header_navbar .logo {
    display: flex;
    gap: 16px;
  }
  .header_navbar label {
    display: block;
    margin-left: auto;
  }
  .header_navbar ul {
    display: none;
    align-items: center;
    gap: 28px;
    margin-left: 0px;
    width: 200px;
  }
  .header_navbar ul li a {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #475e69;
  }
  .header_navbar ul li a:hover {
    color: #22343d;
  }
  .header_navbar .btn_sign {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173a56;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 43px;
    margin-left: 96px;
    display: none;
  }
  .header_navbar .btn_sign a {
    display: none;
  }
  .header_navbar .btn_sign:hover {
    background-color: #02897a;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  .header_navbar .btn_green {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173a56;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    width: 110px;
    height: 43px;
    background-color: #02897a;
    color: white;
    transition: all 0.3s ease-in-out;
    display: none;
  }
  .header_navbar .btn_green a {
    display: none;
  }
  .header_navbar .btn_green:hover {
    background-color: #ffffff;
    color: #22343d;
    transition: all 0.3s ease-in-out;
  }
  .header_navbar .krug {
    display: none;
    margin-left: auto;
  }
}
.hero {
  padding-bottom: 114px;
  display: flex;
  justify-content: space-between;
}
.hero .card_left h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343d;
  margin-top: 174px;
  margin-bottom: 18px;
  width: 400px;
}
.hero .card_left p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343d;
  margin-bottom: 45px;
  width: 458px;
}
.hero .card_left div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
}
.hero .card_left div button {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173a56;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 53px;
  background-color: #02897a;
  color: white;
  transition: all 0.3s ease-in-out;
}
.hero .card_left div button:hover {
  background-color: #ffffff;
  color: #22343d;
  transition: all 0.3s ease-in-out;
}
.hero .card_left div ul {
  display: flex;
  gap: 8.5px;
  align-items: center;
}
.hero .card_left div ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #02897a;
}
.hero .hero_svg {
  margin-top: 43px;
}

@media (max-width: 411px) {
  .hero {
    padding-bottom: 114px;
    display: block;
    justify-content: flex-start;
    margin: 0 auto;
    position: relative;
  }
  .hero .card_left h2 {
    position: absolute;
    width: 334px;
    height: 120px;
    left: 0;
    top: 240.97px;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    color: #22343d;
  }
  .hero .card_left p {
    position: absolute;
    width: 326px;
    height: 95px;
    left: 0px;
    top: 556.97px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #22343d;
  }
  .hero .card_left div {
    padding-bottom: 115px;
    position: absolute;
    top: 700px;
    display: flex;
    gap: 15px;
    align-items: center;
    width: 330px;
  }
  .hero .card_left div button {
    background: #02897a;
    border-radius: 4px;
    width: 122px;
    height: 53px;
    background-color: #02897a;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  .hero .card_left div button:hover {
    background-color: #ffffff;
    color: #22343d;
    transition: all 0.3s ease-in-out;
  }
  .hero .card_left div ul {
    display: flex;
    gap: 8.5px;
    align-items: center;
    margin-left: -10px;
  }
  .hero .card_left div ul li a {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #02897a;
  }
  .hero .hero_svg {
    margin-top: 43px;
    width: 280px;
  }
}
.product {
  background-image: url(../img/product_bg.svg);
  background-repeat: no-repeat;
  background-position: 0px 150px;
  padding-bottom: 200px;
}
.product button {
  border-radius: 4px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  background-color: #02897a;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 60px;
}
.product button:hover {
  background-color: #ffffff;
  color: #22343d;
}
.product .card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product h2 {
  margin: 0 auto;
  margin-bottom: 57px;
  width: 500px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343d;
}
.product ul li h4 {
  margin-top: 30px;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #22343d;
}
.product ul li p {
  width: 200px;
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}

@media (max-width: 411px) {
  .product {
    background-image: url(../img/product_bg.svg);
    background-repeat: no-repeat;
    background-position: -550px 900px;
    padding-bottom: 200px;
  }
  .product button {
    border-radius: 4px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    background-color: #02897a;
    transition: all 0.3s ease-in-out;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 60px;
  }
  .product button:hover {
    background-color: #ffffff;
    color: #22343d;
  }
  .product .card-item {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .product h2 {
    margin: 0 auto;
    margin-bottom: 57px;
    margin-top: 400px;
    width: 305px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343d;
  }
  .product ul li img {
    margin-left: 100px;
    margin-top: 37px;
  }
  .product ul li h4 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #22343d;
  }
  .product ul li p {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343d;
  }
}
.boxs {
  margin-top: 50px;
}
.boxs_card1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boxs_card1 .boxs_left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
  width: 486px;
}
.boxs_card1 .boxs_left .text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343d;
  margin-bottom: 8px;
  margin-top: 25px;
}
.boxs_card1 .boxs_left h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343d;
  margin-bottom: 130px;
}
.boxs_card2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 150px 0 160px 0;
}
.boxs_card2 .boxs_right ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.boxs_card2 .boxs_right ul img {
  margin-bottom: 30px;
}
.boxs_card2 .boxs_right ul p {
  width: 365px;
}
.boxs_card2 .boxs_right p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
  width: 486px;
  margin-bottom: 30px;
}
.boxs_card2 .boxs_right .text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343d;
  margin-bottom: 8px;
}
.boxs_card2 .boxs_right h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343d;
  margin-bottom: 23px;
}
.boxs_card3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 167px;
}
.boxs_card3 .boxs_left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
  width: 486px;
}
.boxs_card3 .boxs_left .text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343d;
  margin-bottom: 8px;
  margin-top: 25px;
}
.boxs_card3 .boxs_left h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343d;
  margin-bottom: 30px;
}

@media (max-width: 411px) {
  .boxs {
    margin-top: 50px;
    position: relative;
  }
  .boxs_card1 {
    display: block;
    position: absolute;
    top: 250px;
    align-items: center;
    justify-content: space-between;
  }
  .boxs_card1 .manage-svg {
    width: 349px;
    position: absolute;
    top: -370px;
    left: -40px;
  }
  .boxs_card1 .boxs_left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343d;
    width: 300px;
  }
  .boxs_card1 .boxs_left .text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343d;
    margin-bottom: 8px;
    margin-top: 25px;
  }
  .boxs_card1 .boxs_left h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343d;
    margin-bottom: 30px;
  }
  .boxs_card2 {
    position: absolute;
    top: 900px;
    display: block;
    align-items: center;
    justify-content: space-between;
    margin: 150px 0 160px 0;
  }
  .boxs_card2 .manage-svg {
    width: 349px;
    position: absolute;
    top: -370px;
    left: -40px;
  }
  .boxs_card2 .boxs_right ul {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .boxs_card2 .boxs_right ul img {
    margin-bottom: 30px;
  }
  .boxs_card2 .boxs_right ul p {
    width: 230px;
  }
  .boxs_card2 .boxs_right p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343d;
    width: 300px;
    margin-bottom: 30px;
  }
  .boxs_card2 .boxs_right .text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343d;
    margin-bottom: 8px;
  }
  .boxs_card2 .boxs_right h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343d;
    margin-bottom: 23px;
  }
  .boxs_card3 {
    position: absolute;
    top: 2000px;
    padding-bottom: 80px;
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 167px;
  }
  .boxs_card3 img {
    width: 349px;
    position: absolute;
    top: -330px;
    left: -40px;
  }
  .boxs_card3 .boxs_left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343d;
    width: 300px;
  }
  .boxs_card3 .boxs_left .text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343d;
    margin-bottom: 8px;
    margin-top: 25px;
  }
  .boxs_card3 .boxs_left h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343d;
    margin-bottom: 30px;
  }
}
.quisc {
  margin-top: 80px;
  background-image: url(../img/quisc.svg);
  background-repeat: no-repeat;
  background-position: 0 52px;
}
.quisc h2 {
  padding-top: 100px;
  margin: 52px 0 16px 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343d;
}
.quisc p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #22343d;
  width: 540px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.quisc button {
  border-radius: 4px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  background-color: #02897a;
  margin: 0 auto;
  color: #ffffff;
  margin-top: 48px;
  margin-bottom: 150px;
}
.quisc button:hover {
  background-color: #ffffff;
  color: #22343d;
  transition: all 0.3s ease-in-out;
}
.quisc .easy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.quisc .easy .p4-img {
  margin-left: auto;
}
.quisc .easy ul {
  display: flex;
  align-items: flex-start;
}
.quisc .easy ul img {
  margin-top: 32px;
}
.quisc .easy ul .p1,
.quisc .easy ul .p2,
.quisc .easy ul .p3,
.quisc .easy ul .p4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 274px;
  height: 53px;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
}
.quisc .easy ul .p2 {
  margin-left: auto;
  margin-top: 46px;
}
.quisc .easy ul .p3 {
  margin-top: 46px;
}
.quisc .easy ul .p4 {
  margin-top: 46px;
  margin-left: auto;
}

@media (max-width: 411px) {
  .quisc {
    margin-top: 2700px;
    background-image: url(../img/quisc.svg);
    background-repeat: no-repeat;
    background-position: center 40px;
  }
  .quisc h2 {
    padding-top: 100px;
    margin: 52px 0 16px 0;
    margin: 0 auto;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343d;
    margin-left: -40px;
    width: 340px;
  }
  .quisc p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343d;
    width: 338px;
    margin-left: -40px;
    margin-bottom: 10px;
  }
  .quisc button {
    border-radius: 4px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 216px;
    background-color: #02897a;
    margin: 0 auto;
    color: #ffffff;
    margin-top: 308px;
    margin-bottom: 150px;
  }
  .quisc button:hover {
    background-color: #ffffff;
    color: #22343d;
    transition: all 0.3s ease-in-out;
  }
  .quisc .easy {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
  }
  .quisc .easy .p4-img {
    position: absolute;
    top: 260px;
  }
  .quisc .easy .ul3 {
    position: absolute;
    top: 380px;
  }
  .quisc .easy ul {
    display: flex;
    align-items: flex-start;
  }
  .quisc .easy ul img {
    margin-top: 32px;
    margin-left: -40px;
  }
  .quisc .easy ul .p1,
  .quisc .easy ul .p2,
  .quisc .easy ul .p3,
  .quisc .easy ul .p4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 229px;
    height: 63px;
    background: #ffffff;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    margin-right: auto;
  }
  .quisc .easy ul .p1 p,
  .quisc .easy ul .p2 p,
  .quisc .easy ul .p3 p,
  .quisc .easy ul .p4 p {
    width: 200px;
    text-align: start;
    margin-left: 30px;
  }
  .quisc .easy ul .p2 {
    margin-left: 0;
    margin-left: -40px;
    margin-top: 46px;
  }
  .quisc .easy ul .p3 {
    margin-top: 46px;
  }
  .quisc .easy ul .p3 p {
    margin-right: 80px;
  }
  .quisc .easy ul .p4 {
    margin-top: 46px;
    margin-left: auto;
  }
}
.contents h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343d;
}
.contents p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
  margin-bottom: 32px;
}
.contents .content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 230px;
}
.contents .content .strategy {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid silver;
  width: 348px;
  height: 348px;
}
.contents .content .strategy p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
  margin-top: 24;
  margin-bottom: 12px;
}
.contents .content .strategy p span {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #22343d;
}
.contents .content .strategy li {
  width: 294px;
  margin-left: 24px;
}
.contents .content .strategy li img {
  margin-left: -24px;
}
.contents .content .strategy li a {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
}
.contents .content .strategy li a:hover {
  color: #02897a;
  transition: all 0.2s ease-in-out;
}
.contents .content .strategy li a:active {
  color: #f03e3d;
}

@media (max-width: 411px) {
  .contents h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343d;
    width: 349px;
    margin-left: -40px;
  }
  .contents p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #22343d;
    margin-bottom: 32px;
    width: 349px;
    margin-left: -40px;
  }
  .contents .content {
    display: block;
    justify-content: space-between;
    margin-bottom: 61px;
  }
  .contents .content .strategy {
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid silver;
    width: 348px;
    height: 348px;
    margin-left: -40px;
    margin-top: 16px;
  }
  .contents .content .strategy p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343d;
    margin-top: 24;
    margin-bottom: 12px;
  }
  .contents .content .strategy p span {
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #22343d;
  }
  .contents .content .strategy li {
    width: 294px;
    margin-left: 24px;
  }
  .contents .content .strategy li p {
    margin: 0 auto;
    width: 330px;
  }
  .contents .content .strategy li img {
    margin-left: -24px;
  }
  .contents .content .strategy li a {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343d;
  }
  .contents .content .strategy li a:hover {
    color: #02897a;
    transition: all 0.2s ease-in-out;
  }
  .contents .content .strategy li a:active {
    color: #f03e3d;
  }
}
.table .standart {
  display: flex;
  justify-content: space-between;
}
.table h2 {
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343d;
}
.table .offer {
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #22343d;
}
.table .free {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 322px;
  height: 488px;
  text-align: center;
  margin-bottom: 150px;
  margin-top: 50px;
}
.table .free :nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #22343d;
  margin-bottom: 40px;
}
.table .free ul {
  display: flex;
  align-items: center;
  margin-left: 80px;
}
.table .free ul :nth-child(1) p {
  width: 50px;
  height: 100px;
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #02897a;
  margin-top: -45px;
}
.table .free ul :nth-child(2) p {
  text-align: start;
  line-height: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #02897a;
}
.table .free ul :nth-child(2) p span {
  color: #AFAFAF;
}
.table .free h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
  margin: 0 auto;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 8px;
}
.table .free .not {
  margin: 16px 0;
}
.table .free button {
  border-radius: 4px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 139px;
  height: 44px;
  margin: 0 auto;
  margin-top: 38px;
  background-color: #02897a;
  color: #ffffff;
}
.table .free:hover {
  background-color: #02897a;
  color: white;
  transition: all 0.3s ease-in-out;
}
.table .free:hover h3, .table .free:hover p {
  color: white;
}
.table .free:hover button {
  background-color: #ffffff;
  color: #22343d;
  transition: all 0.3s ease-in-out;
}
.table .free:hover ul p {
  color: #ffffff;
}

@media (max-width: 411px) {
  .table .standart {
    display: block;
    justify-content: space-between;
    margin-left: -30px;
  }
  .table h2 {
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343d;
  }
  .table .offer {
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #22343d;
  }
  .table .free {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 322px;
    height: 488px;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 50px;
  }
  .table .free :nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #22343d;
    margin-bottom: 40px;
  }
  .table .free ul {
    display: flex;
    align-items: center;
    margin-left: 80px;
  }
  .table .free ul :nth-child(1) p {
    width: 50px;
    height: 100px;
    font-weight: 700;
    font-size: 76px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #02897a;
    margin-top: -45px;
  }
  .table .free ul :nth-child(2) p {
    text-align: start;
    line-height: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #02897a;
  }
  .table .free ul :nth-child(2) p span {
    color: #AFAFAF;
  }
  .table .free h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343d;
    margin: 0 auto;
    text-align: center;
    padding-top: 24px;
    margin-bottom: 8px;
  }
  .table .free .not {
    margin: 16px 0;
  }
  .table .free button {
    border-radius: 4px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 139px;
    height: 44px;
    margin: 0 auto;
    margin-top: 38px;
    background-color: #02897a;
    color: #ffffff;
  }
  .table .free:hover {
    background-color: #02897a;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  .table .free:hover h3, .table .free:hover p {
    color: white;
  }
  .table .free:hover button {
    background-color: #ffffff;
    color: #22343d;
    transition: all 0.3s ease-in-out;
  }
  .table .free:hover ul p {
    color: #ffffff;
  }
}
.clients_say {
  margin-bottom: 150px;
}
.clients_say h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #22343d;
  margin-bottom: 8px;
  text-align: center;
  margin: 0 auto;
}
.clients_say p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #22343d;
  margin-bottom: 50px;
  text-align: center;
  margin: 0 auto;
  width: 537px;
}
.clients_say .clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients_say .say {
  margin-top: 50px;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 5px;
  width: 327px;
  height: 236px;
}
.clients_say .say :nth-child(1) {
  margin: 28px 0 0px 28px;
}
.clients_say .say p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 275px;
  text-align: start;
}
.clients_say .say .ari {
  display: flex;
  gap: 14px;
  align-items: center;
}
.clients_say .say .ari h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #02897a;
  margin-left: -30px;
}
.clients_say .say .ari p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #22343d;
}

@media (max-width: 411px) {
  .clients_say {
    margin-bottom: 150px;
  }
  .clients_say h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #22343d;
    margin-bottom: 8px;
    text-align: center;
    margin: 0 auto;
    width: 323px;
    margin-left: -30px;
    margin-top: 70px;
  }
  .clients_say p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #22343d;
    margin-bottom: 50px;
    text-align: center;
    margin: 0 auto;
    width: 303px;
    margin-left: -30px;
  }
  .clients_say .clients {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-left: -30px;
  }
  .clients_say .say {
    margin-top: 50px;
    background: #ffffff;
    border: 1px solid #dedede;
    border-radius: 5px;
    width: 327px;
    height: 236px;
  }
  .clients_say .say :nth-child(1) {
    margin: 28px 0 0px 28px;
  }
  .clients_say .say p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    width: 275px;
    text-align: start;
    margin-left: 26px;
  }
  .clients_say .say .ari {
    display: flex;
    gap: 14px;
    align-items: center;
  }
  .clients_say .say .ari h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #02897a;
    margin-left: -30px;
  }
  .clients_say .say .ari p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #22343d;
    margin-left: 0;
    width: 100px;
  }
}
.companies {
  width: 968px;
  height: 345px;
  background-color: #02897a;
  border-radius: 32px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.companies .join_left {
  margin-left: 50px;
}
.companies .join_left p {
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #ffffff;
  width: 510px;
}
.companies .join_left button {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173a56;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #02897a;
  width: 150px;
  height: 50px;
  margin-top: 60px;
}
.companies .join_left button:hover {
  background-color: #22343d;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 411px) {
  .companies {
    width: 339px;
    height: 688px;
    background-color: #02897a;
    border-radius: 32px;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-left: -40px;
  }
  .companies img {
    margin-left: -15px;
    width: 371px;
  }
  .companies .join_left p {
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #ffffff;
    width: 308px;
    text-align: center;
    margin-left: -40px;
    padding-top: 12px;
  }
  .companies .join_left button {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173a56;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #02897a;
    width: 150px;
    height: 50px;
    margin-top: 60px;
    margin-left: 30px;
  }
  .companies .join_left button:hover {
    background-color: #22343d;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
}
footer .all {
  margin: 0 auto;
  text-align: center;
  margin-left: 320px;
  padding-bottom: 46px;
}
footer .all:hover {
  color: #02897a;
  transition: all 0.2s ease-in-out;
}

.footer_card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 154px;
}
.footer_card div p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343d;
  width: 280px;
}
.footer_card div form {
  margin-top: 34px;
}
.footer_card div form input {
  width: 328px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  outline: none;
}
.footer_card div form input::placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 28px;
  color: #bcd0e5;
}
.footer_card div button {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173a56;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #02897a;
  width: 131px;
  height: 39px;
  color: #ffffff;
  margin-top: 21px;
  margin-bottom: 37px;
}
.footer_card div button:hover {
  background-color: #ffffff;
  color: #02897a;
  transition: all 0.3s ease-in-out;
}
.footer_card ul li p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343d;
  margin-bottom: 8px;
}
.footer_card ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #22343d;
}
.footer_card ul li a:hover {
  color: #02897a;
}
.footer_card ul li a:active {
  color: #f03e3d;
}
.footer_card .item1 .logo {
  display: flex;
  align-items: center;
  gap: 8.5px;
}
.footer_card .item1 ul {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer_card .item1 .icons {
  margin-top: 28px;
}

@media (max-width: 411px) {
  footer .all {
    margin: 0 auto;
    text-align: start;
    margin-left: -50px;
    padding-bottom: 46px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #22343d;
    display: block;
    width: 361px;
  }
  footer .all:hover {
    color: #02897a;
    transition: all 0.2s ease-in-out;
  }
  .footer_card {
    display: block;
    margin-left: -30px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 154px;
    text-align: center;
    margin: 0 auto;
  }
  .footer_card div p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343d;
    width: 280px;
    margin-top: 32px;
  }
  .footer_card div form {
    margin-top: 34px;
  }
  .footer_card div form input {
    width: 328px;
    height: 48px;
    background: #ffffff;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    outline: none;
    margin-left: -30px;
  }
  .footer_card div form input::placeholder {
    padding-left: 16px;
    font-size: 16px;
    line-height: 28px;
    color: #bcd0e5;
  }
  .footer_card div button {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173a56;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #02897a;
    width: 131px;
    height: 39px;
    color: #ffffff;
    margin-top: 21px;
    margin-bottom: 37px;
    margin-left: 70px;
  }
  .footer_card div button:hover {
    background-color: #ffffff;
    color: #02897a;
    transition: all 0.3s ease-in-out;
  }
  .footer_card ul {
    margin-top: 32px;
  }
  .footer_card ul li p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343d;
    margin-bottom: 8px;
  }
  .footer_card ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #22343d;
  }
  .footer_card ul li a:hover {
    color: #02897a;
  }
  .footer_card ul li a:active {
    color: #f03e3d;
  }
  .footer_card .item1 {
    margin-left: 45px;
  }
  .footer_card .item1 .logo {
    display: flex;
    align-items: center;
    gap: 8.5px;
  }
  .footer_card .item1 ul {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .footer_card .item1 .icons {
    margin-top: 28px;
  }
}

/*# sourceMappingURL=man.css.map */
